.signup{
    position: absolute;
    top: 50vh;
    left: 35%;
    background-color: white;
    width: fit-content;
    padding: 0px;

}
.login_d{
    position: absolute;
    top: 50vh;
    width: 200px;
    left: 65%;
    background-color: white;
    width: fit-content;
    padding: 0px;
}
.retailer{
position: relative;
top: 7vh;
left: 40vh;
}
.wholesaler{
    position: relative;
    top: 1vh;
    right: 30vh;

}
.whimg{
    position: relative;
    right: 30vh;
    bottom: 7vh;
    
}

.retimg{
    position: relative;
    left: 40vh;
    /* bottom: 10vh; */
    top: 30vh;
}

.signup{

}

.loginimg img{
    position: absolute;
    top: 34vh;
    left: 65%;
    width: fit-content;
    padding: 0px;
    height:100px

}
.signupimg img{
    position: absolute;
    top: 34vh;
    left: 35%;
    width: fit-content;
    padding: 0px;
    height:100px

}
.logimg{
    position: relative;
    height: 20px;

}
