<!--Login-->
<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    
    <div class="login">
    <h2>Login Page</h2>
    <form id="login" method="get" action="login.php">
        <label><b>Email:
        </b>
        </label>
        <input type="email" name="Uname" id="Uname" placeholder="Email">
        <br><br>
        <label><b>Password:
        </b>
        </label>
        <input type="Password" name="Pass" id="Pass" placeholder="Password">
        <br><br>
        <input type="button" name="log" id="log" value="Log In Here">
        <br><br>
        <input type="checkbox" id="check">
        <span>Remember me</span>
        
    </form>
</div>
</body>
</html>
<!--Signup-->
<!DOCTYPE html>
<html>
<head>
    <title>Signup Page</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    
    <div class="login">
    <h2>Signup Page</h2>
    <form id="login" method="get" action="login.php">
        <label><b>Email:
        </b>
        </label>
        <input type="email" name="Uname" id="Uname" placeholder="Email">
        <br><br>
        <label><b>Password:
        </b>
        </label>
        <input type="Password" name="Pass" id="Pass" placeholder="Password">
        <br><br>
         <label><b>Repeat Password:
        </b>
        </label>
        <input type="Password" name="Pass" id="Pass" placeholder="Password">
        <br><br>
        <input type="button" name="log" id="log" value="Signup Here">
        <br><br>
        
        
        
    </form>
</div>
</body>
</html>
<!--Retailer-->
<!DOCTYPE html>
<html>
<head>
    <title>Retailers Information</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    
    <div class="login">
    <h2>Retailers Information</h2>
    <form id="login" method="get" action="login.php">
        <label for="fname">First Name:</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name">
    

        
        <br><br>
        <label for="fname">Last Name:</label>
    <input type="text" id="fname" name="lastname" placeholder="Your name">
    <br></br>
    <label for="pnum">Phone Number:</label>
            <input type="text" id="pnum" name="pnum" placeholder="number">

       
        <br></br>
        <label for="adr"><i class="add"></i> Shop Name:</label>
            <input type="text" id="adr" name="address" placeholder="name">
         <br></br>
       <label for="adr"><i class="add"></i> Shop Address:</label>
            <input type="text" id="adr" name="address" placeholder="address">
         <br></br>
         
        <input type="button" name="log" id="log" value="Submit">
    </form>
</div>
</body>
</html>
<!--Wholesaler-->
<!DOCTYPE html>
<html>
<head>
    <title>--Wholesaler-- Information</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    
    <div class="login">
    <h2>--Wholesaler-- Information</h2>
    <form id="login" method="get" action="login.php">
        <label for="fname">First Name:</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name">
    

        
        <br><br>
        <label for="fname">Last Name:</label>
    <input type="text" id="fname" name="lastname" placeholder="Your name">
    <br></br>
    <label for="pnum">Phone Number:</label>
            <input type="text" id="pnum" name="pnum" placeholder="number">

       
        <br></br>
        <label for="adr"><i class="add"></i> Shop Name:</label>
            <input type="text" id="adr" name="address" placeholder="name">
         <br></br>
       <label for="adr"><i class="add"></i> Shop Address:</label>
            <input type="text" id="adr" name="address" placeholder="address">
         <br></br>
         
        <input type="button" name="log" id="log" value="Submit">
    </form>
</div>
</body>
</html>
